<link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script
  src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>

<div id="fullscreen" class="fullscreen">
  <button class="collapsible">Open Collapsible,
    <span ng-if="zoom!=''" class="animate-if">
        Zoom: {{zoom}}, Veloroute: {{veloroute}}
    </span> </button>
  <div class="content">
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
    <p>Lorem ipsum...</p>
  </div>
  <div id="map" class="map"></div>
  <!-- <div class="sidepanel">
    <span class="sidepanel-title">Side Panel</span>
  </div> -->
</div>