.fullscreen:-moz-full-screen {
    height: 100%;
  }
  .fullscreen:-webkit-full-screen {
    height: 100%;
  }
  .fullscreen:-ms-fullscreen {
    height: 100%;
  }

  .fullscreen:fullscreen {
    height: 100%;
  }

  .fullscreen {
    margin-bottom: 10px;
    width: 100vw;
    height: 100vh;
  }

  .ol-rotate {
    top: 3em;
  }

  .map {
    width: 100vw;
    height: 100vh;
    float: left;
  }

  .sidepanel {
    background: #1F6B75;
    width: 20%;
    height: 100%;
    float: left;
  }

  .sidepanel-title {
    width: 100%;
    font-size: 3em;
    color: #ffffff;
    display: block;
    text-align: center;
  }

  .collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .webgl-content{
    position: absolute;
    display: flex;
    margin-left: 24%;
    margin-top: 12%;
  }

  .unityContainer{
    width: 50vw;
    height: 50vh;
  }